@model IPC2_201700841.Models.ViewModels.ArchivoModel


<h2>Cargar archivo</h2>

@using (Html.BeginForm("Index", "ArchivoCarga", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <div>
            <div> <!--div para el archivo-->
                @Html.LabelFor(d=>d.Archivo)
                @Html.TextBoxFor(d=>d.Archivo, new {type="file",accept=".xml" })
                @Html.ValidationMessageFor(d=>d.Archivo)

            </div>
            <div>
                <input type="submit" value="Aceptar" />
            </div>
        </div>
    </div>
}
