
@{
    ViewBag.Title = "EegirModoenXtreamSolitario";
    Layout = "~/Views/Master/Pagina_inicio_master.cshtml";
}

<link href="~/Content/Paginas_Varias.css" rel="stylesheet" />
<div class="primero">
    <h1>BIENVENIDO A OTHELLO</h1>
</div>
<br />
<br />
<div class="tablero">
    <table align="center">
        <tr>
            <!--fila-->
            <th>
                <!--numero-->
            </th>
            <th>
                <!--columnna-->
                A
            </th>
            <th>
                B
            </th>
            <th>
                <!--columnna-->
                C
            </th>
            <th>
                D
            </th>
            <th>
                <!--columnna-->
                E
            </th>
            <th>
                F
            </th>
            <th>
                <!--columnna-->
                G
            </th>
            <th>
                H
            </th>
        </tr> <!--contiene la fila de las letras-->

        <tr>
            <!--fila-->
            <th>
                1
            </th>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
        </tr>

        <tr>
            <!--fila-->
            <td>
                2
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
        </tr>

        <tr>
            <!--fila-->
            <td>
                3
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img//verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
        </tr>
        <tr>
            <!--fila-->
            <td>
                4
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/blanco.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/negro.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
        </tr>

        <tr>
            <!--fila-->
            <td>
                5
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/negro.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/blanco.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
        </tr>

        <tr>
            <!--fila-->
            <td>
                6
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
        </tr>

        <tr>
            <!--fila-->
            <td>
                7
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
        </tr>

        <tr>
            <!--fila-->
            <td>
                8
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img//verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <!--columnna-->
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
            <td>
                <img src="~/img/verde.jpg" width="50" height="50" />
            </td>
        </tr>

    </table>
</div>
<div class="primero">
    <h2>Modos de Juego Solitario</h2>
</div>
<div class="Botones">
    <!--<div class="Boton1">
        <div class="col-md-3">-->
            <!--boton para cargar una partida guardada-->
            <!--<form action="../Tablero/Index" method="post">
                <input type="submit" value="MODO NORMAL" />
            </form>
        </div>
    </div>-->
    <div class="Boton2">
            <div class="col-md-3">
                <form action="../Tablero/IndexInversoSolitario" method="post">
                    <input type="submit" value="RETO INVERSO" />
                </form>

            </div>
        </div>

    <div class="Boton3">
        <div class="col-md-3">
            <form action="../Tablero/AperturaSolitario" method="post"> <!--esto es para la apertura personalizada-->
                <input type="submit" value="APERTURA PERSONALIZADA" />
            </form>
        </div>

    </div>
</div>
