.cuerpo {
    height: 100vh;
}

.cuerpo {
    background-image: url('../img/sii.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}


.tablero {
    display: block;
    margin: auto;
}
.primero {
    color:white;
    text-align:center;
}
.Botones {
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    background-color: white;
    border-radius: 10px;
    align-content: center;
    margin-top: 20px;
    margin-left: 30%;
}