
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Master/IndexMaster.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            @*<img src="~/img/othello.png" />*@
        </div>
        <div class="col-md-3 espacio text-dark" style="color:white">

            <h1>Iniciar Sesion</h1>
            <form action="/Home/Index" method="post">
                <label>Usuario <input class="name" type="text" id="us" name="us" style="color:black" /></label>
                <br />
                <label>Contraseña <input class="pass" type="password" id="contra" name="contra" style="color:black" /></label>
                <br />
                <br />
                <input class="button" type="submit" value="Aceptar" name="button" id="button" />
                <br />
                <br />
            </form>

        </div>
    </div>

</div>

