<div>
    <h1>SOLITARIO</h1>
</div>


<div class="jumbotron">
    <div class="col-md-5">
        <form action="/Home/Contact" method="post">
            <label for="myfile">Cargar archivo</label>
            <p></p>
            <input type="file" id="myfile" name="myfile" accept=".xml">
            <p></p>
            <input type="submit" value="Aceptar">
        </form>
    </div>
    
</div>




<!--
<div class="jumbotron">
    <div class="col-md-4">
        <input type="submit" value="Guardar Partida" /> boton para guardar una partida
    </div>
</div>

-->
