<div>
    <h1>BIENVENIDO A OTHELO</h1>
</div>


<table>
    <tr>
        <!--fila-->
        <th>
            <!--numero-->
        </th>
        <th>
            <!--columnna-->
            A
        </th>
        <th>
            B
        </th>
        <th>
            <!--columnna-->
            C
        </th>
        <th>
            D
        </th>
        <th>
            <!--columnna-->
            E
        </th>
        <th>
            F
        </th>
        <th>
            <!--columnna-->
            G
        </th>
        <th>
            H
        </th>
    </tr> <!--contiene la fila de las letras-->

    <tr>
        <!--fila-->
        <th>
            1
        </th>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
    </tr>

    <tr>
        <!--fila-->
        <td>
            2
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
    </tr>

    <tr>
        <!--fila-->
        <td>
            3
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
    </tr>
    <tr>
        <!--fila-->
        <td>
            4
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/blanco.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/negro.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
    </tr>

    <tr>
        <!--fila-->
        <td>
            5
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/negro.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/blanco.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
    </tr>

    <tr>
        <!--fila-->
        <td>
            6
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
    </tr>

    <tr>
        <!--fila-->
        <td>
            7
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
    </tr>

    <tr>
        <!--fila-->
        <td>
            8
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <!--columnna-->
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
        <td>
            <img src="~/verde.jpg" width="50" height="50" />
        </td>
    </tr>

</table>

    <div class="jumbotron">
        <div class="col-md-4">
            <!--boton para cargar una partida guardada-->
            <form action="../ArchivoCarga/Index" method="post">
                <input type="submit" value="Solitario" />
                <!--<a href="~/WebForm1.aspx" class="btn btn-primary"> Solitario </a>-->
            </form>
    </div>

        <!--action link
            primero= texto que aparece al cliente
            segundo= la accion (controller)
            tercer = esa accion a que pertenece
            cuato= estilo            -->

    <div class="col-md-4">
        <!--boton para cargar una partida guardada-->
                <form action="/Home/Contact" method="post">
                    <input type="submit" value="Versus" />
                </form>
    </div>

        <div class="col-md-4">
            <!--boton para cargar una partida guardada-->
            <form action="/Home/Contact" method="post">
                <input type="submit" value="Torneo" />
            </form>
        </div>

    </div>

    <!--
    <div class="jumbotron">
        <div class="col-md-4">
            <input type="submit" value="Guardar Partida" /> boton para guardar una partida
        </div>
    </div>

    -->
