
    <div class="jumbotron">
        <div class="col-md-4">
            <form action="/Home/Index" method="post">
                <p>Usuario: <input type="text" name="us"></p>
                <p>Contraseña: <input type="password" name="contra"></p>
                <input type="submit" value="Iniciar sesion">
            </form>
        </div>
    </div> 

    <div>

        <img src="~/othello.png" />

    </div>


    <div class="row">
        <!--<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <form action="/Home/Index" method="post">
            <p>usuario: <input type="text" name="usuario"></p>
            <p>contrasenia: <input type="password" name="contra"></p>
            <input type="submit" value="Iniciar sesion">

        </form>
    </div>-->
    </div>